<div class="lighterbasecolor">
    <div class="centrewrapper content contentbasecolor">    
        
        <div>
			<a href='#/manager/crews'>Back</a>			
			<h3 style="text-align:center">ADD CREW</h3>
			<form class="form-horizontal">
				<fieldset>
                    <legend>Crew Profile</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="firstname">Firstname</label>
                        <div class="col-sm-10">
                            <input type="text" name="firstname" class="form-control" ng-model="vm.crew.firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lastname">Lastname</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastname" class="form-control" ng-model="vm.crew.lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="street">Street</label>
                        <div class="col-sm-10">
                            <input type="text" name="street" class="form-control" ng-model="vm.crew.street">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="city">City</label>
                        <div class="col-sm-10">
                            <input type="text" name="city" class="form-control" ng-model="vm.crew.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="state">State</label>
                        <div class="col-sm-10">
                            <input type="text" name="state" class="form-control" ng-model="vm.crew.state">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="postcode">Postcode</label>
                        <div class="col-sm-10">
                            <input type="text" name="postcode" class="form-control" ng-model="vm.crew.postcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" ng-model="vm.crew.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="phone">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control" ng-model="vm.crew.phone">
                        </div>
                        <span ng-hide="(vm.error=='')">{{vm.error}}</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="vm.addCrew()" >Save</button>
                        </div>
                    </div>
                </fieldset>							
			</form>
		</div>
	</div>
</div>	