<div>
	<div class="leftcolumn">
		<datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
		<!-- <div ui-calendar ng-model="vm.managerCalendarSrc" style="width:200px"></div> -->
		<!-- <div ui-calendar="uiConfig.calendar" class="span7 calendar" ng-model="eventSources"></div> -->

	</div>
	<div class="centercolumn">
		<div class="todaylist">
			<h4>Today's List</h4>
			<ul>
				<li>08:00 - 16:00 McKay</li>
				<li>08:00 - 16:00 Milly</li>
				<li>08:00 - 16:00 Kat</li>
			</ul>
		</div>
	</div>
</div>
